body {

  background-image: linear-gradient(90deg, rgb(12, 250, 220), rgba(3, 5, 17, 0.88));
}

h1 {
  font-family: "Arial";
  font-style: bold;
  padding-left: 30px;

}

h3 {
	font-family: "Apple Chancery", cursive, sans-serif;
}
